@charset "UTF-8"; /*Compatibilidade de caracteres.*/

@font-face { /*Adicionando importando fonte localmente.*/
    font-family: 'FuturaFont';
    src: url('../../font/futura/Futura\ Book\ font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} 
@font-face {
    font-family: 'FuturaFont-bold';
    src: url(../../font/futura/Futura\ Extra\ Black\ font.ttf);
    font-weight: normal;
    font-style: normal;
} 

/*Reset*/
body{
    margin: 0;
    padding: 0;
}

/*Configurações globais*/
body{
    font-family: 'FuturaFont', Arial, sans-serif;
    color: #252525;
    background-color: #007de4;
}

p{
    font-size: 12pt;
    text-align: justify;
}
h1, h2, h3, h4, h5, h6{
    color: #ffffff;
}
a{
    text-decoration: none;
}

#container{ /*Container principal do site.*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.container-header{ /*Container de cabeçalho.*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}
.element-logotype{ /*Elemento que encapsula a logo do site.*/
    transition: 0.5s ease;
    width: 255px;
    height: auto;
}
.element-logotype:hover{
    transition: 0.5s ease;
    opacity: 70%;
}

.container-content-main{/*Container do conteúdo principal da webpage.*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35em;
    height: auto;
}

.element-text-description{/*Elemento que encapsula imagem de nuvem.*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 150px;
    

}
.element-text-description p {
    text-align: center;
    width: 300px;
    color: #fff;
}

.container-interface-breathe{ /*Container que encapsula a interface de respiração.*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 27em;
    height: auto;
    margin: 25px 0px 25px 0px;
}
.element-circule{/*Elemento estetico que define o "botão circular central" para o usuário interagir.*/
    transition: 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 22em;
    height: 22em;
    border: none;
    border-radius: 50%;
    background-color: #fff;

}
.element-circule:hover{
    transition: 0.5s ease;
    transform: scale(1.05);
}
.circle-effect-animation{/*Elemento responsável pelo efeito de animação presente.*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 21em;
    height: 21em;
    border: solid #fff;
    border-radius: 50%;
    animation: effect-waiting 1.5s infinite;
}
@keyframes effect-waiting {
    0%{
        transition: 0.5s ease;
        transform: scale(1);
        opacity: 30%;
    }
    50%{
        transition: 0.5s ease;
        
        opacity: 15%;
    }
    100%{
        transform: 0.5s ease;
        transform: scale(1.4);
        opacity: 0%;
    }

}

.element-panel-control{/*Elemento que encapsula os botões para iniciar, pausar e parar.*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 15em;
    height: 4em;
    margin: 34px 0px 32px 0px;
    background-color: #ffffff31;
}
.element-panel-control p{
    margin: 0px 12px 0px 12px;
}