@charset "UTF-8"; /*Compatibilidade de caracteres.*/

@font-face { /*Adicionando importando fonte localmente.*/
    font-family: 'FuturaFont';
    src: url('../../font/futura/Futura\ Book\ font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} 
@font-face {
    font-family: 'FuturaFont-bold';
    src: url(../../font/futura/Futura\ Extra\ Black\ font.ttf);
    font-weight: normal;
    font-style: normal;
} 

/*Reset*/
body{
    margin: 0;
    padding: 0;
}

/*Configurações globais*/
body{
    font-family: 'FuturaFont', Arial, sans-serif;
    color: #ffff;
    background-color: #10181f;
}

p{
    font-size: 12pt;
    text-align: justify;
}
h1, h2, h3, h4, h5, h6{
    color: #ffff;
}
a{
    text-decoration: none;
}

#container{ /*Container principal do site.*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}
.windowFloat{/*Janela flutuante de incio!*/
    display: absolute;
    position: fixed;
    top: 20%;
    z-index: 10;
    width: 22em;
    height: 22em;
    padding: 2em;
    border: solid #ffffff3d 1px;
    border-radius: 23px;
    background-color: rgba(255, 255, 255, 0.103);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px) ;
}
.windowFloat button{
    padding: 9px;
    border: none;
    border-radius: 25px;
    
}


.container-header{ /*Container de cabeçalho.*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: sticky;
    top: 0;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #00000033;
    border-bottom: solid #ffffff3d 1px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px) ;
}
.element-logotype{ /*Elemento que encapsula a logo do site.*/
    transition: 0.5s ease;
    width: 255px;
    height: auto;
}

.container-content-main{/*Container do conteúdo principal da webpage.*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25em;
    height: auto;
    margin: 25px 0px 0px 0px;
    border: none;
    border-radius: 45px;
}
.image-representation{/*Imagem de mulher que representa a ansiedade.*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 22em;
    height: 15em;
    border: solid #ffffff3d 1px;
    border-radius: 34px;
    background-image: url(../image/img-representation-anxiety.jpeg);
    background-position: center;
    background-repeat: no-repeat;
}
.image-representation h1{
    opacity: 75%;
    margin: 1em;
}

.interface-breathe-main{/*Interface principal da animação de respiração.*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 23em;
    height: auto;
    margin: 25px 0px 0px 0px;
    border: none;
    border-radius: 45px;
    color: #fff;
}

.element-text-description{/*Elemento que encapsula imagem de nuvem.*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 300px;
    padding: 0em;

}

.element-text-description p {
    text-align: justify;
    width: 300px;

}

.container-guide-breathe{ /*Container que encapsula o guia para o usuario respirar corretamente conforme a animação.*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 18em;
    height: 1em;
}

.container-interface-breathe{ /*Container que encapsula a interface de respiração.*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 27em;
    height: auto;
    margin: 25px 0px 25px 0px;
}

.container-space-circle{/*Fundo da animação.*/
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 18em;
    height: 2em;
    padding: 5px;
    border-radius: 25px;
    border: solid #ffffff3d 1px;
}

.animation-element-circle{/*Elemento estetico que define a "interface circular central".*/
    transition: 0.5s ease;
    display: none;
    position: relative;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: #fff;

    animation: animation-breathe 15s alternate infinite ease-in-out;

}
@keyframes animation-breathe {
    0%{
        transition: 0.5s;
        transform: translateX(0em);
    }
    50%{
        transform: translateX(8em);
    }
    100%{
        transform: translateX(16em);
    }

}

.element-panel-control{/*Elemento que encapsula os botões para iniciar, pausar e parar.*/
    transition: 0.3s;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 10em;
    height: 5em;
    margin: 56px 0px 56px 0px;
    background-color: #ffffff10;
    border-left: solid #ffffff3d 1px;
    border-right: solid #ffffff3d 1px;
    border-radius: 50px;
    
    
}
.element-panel-control:hover{
    transition: 0.3s;
    width: 12em;
}
.img-button-start{/*Icone de botão "Start" que é escondido quando o mesmo é clicado*/
    transition: 0.3s;
    display: flex;
    padding: 14px;
    background-color: #fff;
    border-radius: 50%;
}
.img-button-stop{/*Icone de botão "stop" é exibido quando o de iniciar for clicado.*/
    transition: 0.3s;
    display: none;
    padding: 14px;
    background-color: #fff;
    border-radius: 50%;
}
/*********Estilo hover para botões de iniciar animação******/
.img-button-start:hover{
    transition: 0.5s ease;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.img-button-stop:hover{
    transition: 0.5s ease;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}


.StartRainSound{/*Exibir o player de musica.*/
    transition: 0.3s;
    display: flex;
    padding: 14px;
    background-color: #ffff;
    border-radius: 50%;
}
.stopRainSound{/*Botão para fechar esconder o player de music*/
    transition: 0.3s;
    display: none;
    padding: 14px;
    background-color: #ffa500;
    border-radius: 50%;
}
.element-audio{/*Painel de audio.*/
    transition: 0.5s ;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 22em;
    height: 9em;
    margin: 7px 0px 7px 0px;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
    background-color: #ffffff10;
}

/*******Estilo "hover" botões para o som de chuva.******/
.StartRainSound:hover{
    transition: 0.5s ease;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.stopRainSound:hover{
    transition: 0.5s ease;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 17em;
    height: 5em;
}
footer small{
    opacity: 45%;
}

/***************breakpoints********************/

/* Breakpoint para telas menores */
@media (max-width: 768px) {
    .container-content-main {
        width: 750px;
    }

    .element-text-description {
        width: 250px;
    }

    .container-interface-breathe {
        width: 22em;
    }

    .interface-breathe-main{
        width: 345px;
    }

    footer{
        width: 768px;
    }
}

@media (max-width: 720px){ /*Telas com 720px de largura.*/
    .windowFloat{
        top: 9%;
        width: 15em;
        height: 25em;
    }
    .container-content-main {
        width: 345px;
    }

    .image-representation{
        width: 18em;
    }

    .element-text-description {
        width: 350px;
    }

    .container-interface-breathe {
        width: 22em;
    }

    .interface-breathe-main{
        width: 345px;
    }

    footer{
        width: 450px;
    }
}

@media (max-width: 680px){ /*Telas com 360px de largura.*/
    .windowFloat{
        top: 9%;
        width: 15em;
        height: 25em;
    }
    .container-content-main {
        width: 345px;
    }

    .image-representation{
        width: 18em;
    }

    .element-text-description {
        width: 350px;
    }

    .container-interface-breathe {
        width: 22em;
    }

    .interface-breathe-main{
        width: 345px;
    }

    footer{
        width: 450px;
    }
}

@media (max-width: 660px){ /*Telas com 360px de largura.*/
    .windowFloat{
        top: 9%;
        width: 15em;
        height: 25em;
    }
    .container-content-main {
        width: 345px;
    }

    .image-representation{
        width: 18em;
    }

    .element-text-description {
        width: 350px;
    }

    .container-interface-breathe {
        width: 22em;
    }

    .interface-breathe-main{
        width: 345px;
    }

    footer{
        width: 450px;
    }
}

@media (max-width: 620px){ /*Telas com 360px de largura.*/
    .windowFloat{
        top: 9%;
        width: 15em;
        height: 25em;
    }
    .container-content-main {
        width: 345px;
    }

    .image-representation{
        width: 18em;
    }

    .element-text-description {
        width: 350px;
    }

    .container-interface-breathe {
        width: 22em;
    }

    .interface-breathe-main{
        width: 345px;
    }

    footer{
        width: 450px;
    }
}

@media (max-width: 520px){ /*Telas com 520px de largura.*/
    .windowFloat{
        top: 9%;
        width: 15em;
        height: 25em;
    }
    .container-content-main {
        width: 345px;
    }

    .image-representation{
        width: 18em;
    }

    .element-text-description {
        width: 350px;
    }

    .container-interface-breathe {
        width: 22em;
    }

    .interface-breathe-main{
        width: 345px;
    }

    footer{
        width: 450px;
    }
}

@media (max-width: 460px){ /*Telas com 360px de largura.*/
    .windowFloat{
        top: 9%;
        width: 15em;
        height: 25em;
    }
    .container-content-main {
        width: 345px;
    }

    .image-representation{
        width: 18em;
    }

    .element-text-description {
        width: 350px;
    }

    .container-interface-breathe {
        width: 22em;
    }

    .interface-breathe-main{
        width: 345px;
    }

    footer{
        width: 450px;
    }
}

@media (max-width: 420px){ /*Telas com 420px de largura.*/
    .windowFloat{
        top: 5%;
        width: 15em;
        height: 25em;
    }
    .container-content-main {
        width: 345px;
    }

    .image-representation{
        width: 18em;
    }

    .element-text-description {
        width: 350px;
    }

    .container-interface-breathe {
        width: 22em;
    }

    .interface-breathe-main{
        width: 345px;
    }

    footer{
        width: 425px;
    }
}

@media (max-width: 390px) {/*Telas com 375px de largura.*/
    .windowFloat{
        top: 5%;
        width: 15em;
        height: 25em;
    }
    .container-content-main {
        width: 355px;
    }

    .image-representation{
        width: 18em;
    }

    .element-text-description {
        width: 250px;
    }

    .container-interface-breathe {
        width: 22em;
    }

    .interface-breathe-main{
        width: 345px;
    }

    footer{
        width: 390px;
    }
}

@media (max-width: 380px) {/*Telas com 380px de largura.*/
    .windowFloat{
        top: 5%;
    }
    .container-content-main {
        width: 355px;
    }

    .image-representation{
        width: 16em;
    }

    .element-text-description {
        width: 250px;
    }

    .container-interface-breathe {
        width: 22em;
    }

    .interface-breathe-main{
        width: 345px;
    }

    footer{
        width: 380px;
    }
}

@media (max-width: 375px) {/*Telas com 375px de largura.*/
    .windowFloat{
        top: 5%;
    }
    .container-content-main {
        width: 355px;
    }

    .image-representation{
        width: 16em;
    }

    .element-text-description {
        width: 250px;
    }

    .container-interface-breathe {
        width: 22em;
    }

    .interface-breathe-main{
        width: 345px;
    }

    footer{
        width: 375px;
    }
}
@media (max-width: 360px){ /*Telas com 360px de largura.*/
    .windowFloat{
        top: 3%;
        width: 15em;
        height: 25em;
    }
    .container-content-main {
        width: 345px;
    }

    .image-representation{
        width: 16em;
    }

    .element-text-description {
        width: 250px;
    }

    .container-interface-breathe {
        width: 22em;
    }

    .interface-breathe-main{
        width: 345px;
    }

    footer{
        width: 360px;
    }
}

@media (max-width: 320px){ /*Telas com 320px de largura.*/
    .windowFloat{
        top: 2%;
        width: 13em;
        height: 27em;
    }
    .container-content-main {
        width: 320px;
    }

    .image-representation{
        width: 16em;
    }

    .element-text-description {
        width: 250px;
    }

    .container-interface-breathe {
        width: 9em;
    }

    .interface-breathe-main{
        width: 320px;
    }

    footer{
        width: 320px;
    }
}